

body {
    text-align: center !important;
    margin: 0px auto !important;
    background-color: #cdcdcd !important;
    font-family: 'Tangerine', serif !important;
    background: url(https://subtlepatterns.com/patterns/symphony.png) !important;

}

h1{
    text-shadow: 4px 4px 4px #aaa !important;
    margin: 10px auto !important;
    font-size: 4em !important;
    color: #333 !important;
}

p {
    font-family: 'Radley', serif !important;
    font-size: 1.2em !important;
    text-align: left !important;
}

.quote {
    font-family: 'Cardo', serif !important;
    font-size: 1.5em !important;
    width: 600px !important;
    height: auto !important;
    margin: 0 auto !important;
    background-color: #efefef !important;
    padding: 20px !important;
    background-color: rgba(255,255,255,0.9) !important;
    border-radius: 20px !important;
    color: #000;
    box-shadow: -10px 10px 20px rgba(100,100,100,.8) !important;
}

.author {
    font-style: italic !important;
}

.button {
    font-family: 'Tangerine', serif !important;
    height: 50px !important;
    width: 150px !important;
    margin: 20px auto !important;
    color: rgba(0,0,0,1) !important;
    background-color: rgba(160,200,160,.8) !important;
    text-align: center !important;
    font-size: 36px !important;
    border-radius: 15px !important;
    box-shadow: -5px 5px 10px rgba(100,100,100,.8) !important;
}

a {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    font-family: sans-serif !important;
    font-size: 12pt !important;
}

